{% extends 'base.html' %}
{% load static %}

{% block title %}EAMCET College Predictor{% endblock %}

{% block content %}
    <main class="page lanidng-page">
    {% block main_content %}
    {% endblock main_content %}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links">
            <p>Developed By: <a href="https://www.instagram.com/lumi.ai_/" target="_blank" rel="noopener" style="color: #2196F3; text-decoration: none;">Team Lumi AI</a></p>
            </div>
        </div>
    </footer>
{% endblock %}
